# Configuración de base de datos Supabase
SUPABASE_URL="https://uduyarryvxxxuayeuwdq.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkdXlhcnJ5dnh4eHVheWV1d2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNDUyODIsImV4cCI6MjEwNDkyMTI4Mn0.g-QHqAi4D0KLI8NPGBpD78MXAgMh34V-JVbUQ_jHTJQ"

# Credenciales separadas según el entorno
# El equipo de hardware/simulador solo usa la cuenta Operador
OPERADOR_EMAIL="operador@empresagg.com"
OPERADOR_PASSWORD="12345678"

# El equipo de control solo usa la cuenta Supervisor
SUPERVISOR_EMAIL="supervisor@empresagg.com"
SUPERVISOR_PASSWORD="12345678"